Repository oness24/vulnzero-engine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

    changes:
      default:
        if_ci_failed: error

# Ignore files/paths
ignore:
  - "tests/**/*"
  - "**/tests/**/*"
  - "**/__init__.py"
  - "**/migrations/**/*"
  - "web/src/tests/**/*"
  - "web/src/**/*.test.{js,jsx,ts,tsx}"

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# GitHub checks
github_checks:
  annotations: true

# Flags for different parts of codebase
flags:
  backend:
    paths:
      - api/
      - services/
      - shared/
    carryforward: true

  frontend:
    paths:
      - web/src/
    carryforward: true

feat: Implement Priority 4 code quality improvements and error tracking
  api/main.py
  docs/TODO_TRACKING.md
  requirements.txt
  shared/monitoring/__init__.py
  shared/monitoring/sentry_config.py
  shared/utils/__init__.py
  shared/utils/error_handling.py
  shared/utils/response_helpers.py
Due: backend

fix: Implement comprehensive TODO fixes across API and services
  api/main.py
  api/routes/vulnerabilities.py
  services/api-gateway/routes/assets.py
  services/api-gateway/routes/deployments.py
  services/api-gateway/routes/patches.py
  services/api-gateway/routes/vulnerabilities.py
Due: backend

feat: Implement system health checks and metrics improvements
  services/api-gateway/main.py
  services/api-gateway/routes/system.py
Due: backend

feat: Implement Sentry error tracking and production authentication
  services/api-gateway/auth.py
  services/api-gateway/routes/auth.py
  web/.env.example
  web/package.json
  web/src/components/ErrorBoundary.jsx
  web/src/main.jsx
  web/src/utils/sentry.js
Due: backend, frontend

docs: Add comprehensive project status report
  PROJECT_STATUS.md
Due: none

feat: Implement exploit database integration for enhanced prioritization
  docs/EXPLOIT_DATABASE_INTEGRATION.md
  services/aggregator/enrichment.py
  services/aggregator/prioritizer.py
Due: backend

docs: Add strategic roadmap for making VulnZero exceptional
  STRATEGIC_ROADMAP.md
Due: none

fix: Correct syntax error in test_state_monitor.py
  tests/services/testing_engine/test_state_monitor.py
Due: none

feat: Add centralized logger utility for frontend
  web/src/services/api.js
  web/src/services/websocket.js
  web/src/utils/logger.js
Due: frontend

docs: Add VITE_VERBOSE_LOGGING to frontend .env.example
  web/.env.example
Due: none

security: Add comprehensive security audit report and fix HSTS header
  SECURITY_AUDIT_REPORT.md
  web/nginx.conf
Due: none

docs: Add comprehensive human-in-the-loop controls documentation
  HUMAN_IN_THE_LOOP.md
Due: none

feat: Add comprehensive application validation script
  validate_app.py
Due: none

docs: Add comprehensive installation and usage guide
  INSTALLATION_GUIDE.md
Due: none

fix: Resolve duplicate content from merge conflict resolution
  shared/config/settings.py
  shared/models/__init__.py
Due: backend

fix: Remove duplicate docstring in tests/conftest.py
  tests/conftest.py
Due: none

docs: Add comprehensive 7-phase remediation plan
  REMEDIATION_PLAN.md
Due: none

refactor: Remove duplicate api-gateway directory (Task 1.1)
  services/api-gateway/Dockerfile
  services/api-gateway/__init__.py
  services/api-gateway/auth.py
  services/api-gateway/main.py
  services/api-gateway/routes/__init__.py
  services/api-gateway/routes/assets.py
  services/api-gateway/routes/auth.py
  services/api-gateway/routes/deployments.py
  services/api-gateway/routes/patches.py
  services/api-gateway/routes/system.py
  services/api-gateway/routes/vulnerabilities.py
Due: backend

refactor: Deduplicate and consolidate requirements.txt (Task 1.2)
  requirements.txt
Due: none

refactor: Complete overhaul of docker-compose.yml (Task 1.3)
  docker-compose.yml
Due: none

security: Add explicit warning against CORS wildcard usage (Task 1.4)
  api/main.py
Due: backend

refactor: Deduplicate .env.example configuration (Task 1.5)
  .env.example
Due: none

docs: Add Phase 1 completion summary
  PHASE1_SUMMARY.md
Due: none

docs: Update README to reflect beta status with honest claims (Tasks 2.1-2.4)
  README.md
Due: none

docs: Create comprehensive production roadmap (Task 2.5)
  ROADMAP_TO_PRODUCTION.md
Due: none

docs: Add Phase 2 completion summary
  PHASE2_SUMMARY.md
Due: none

security: Add comprehensive security headers middleware (Task 3.1)
  api/main.py
  api/middleware/__init__.py
  services/api_gateway/main.py
  shared/middleware/__init__.py
  shared/middleware/security_headers.py
Due: backend

security: Replace weak default credentials with strong placeholders (Task 3.2)
  .env.example
Due: none

security: Add LLM prompt injection sanitization (Task 3.3)
  services/patch_generator/llm/base.py
  shared/utils/__init__.py
  shared/utils/llm_sanitizer.py
Due: backend

security: Harden Docker configurations (Task 3.4)
  Dockerfile.api
  docker-compose.yml
  web/Dockerfile
Due: none

docs: Add Phase 3 completion summary
  PHASE3_SUMMARY.md
Due: none

test: Add comprehensive security tests (Task 4.2)
  .github/workflows/tests.yml
  pytest.ini
  tests/security/test_llm_sanitizer.py
  tests/security/test_security_headers.py
  tests/unit/shared/__init__.py
  tests/unit/shared/middleware/__init__.py
  tests/unit/shared/utils/__init__.py
Due: none

test: Add security integration tests and update docs (Task 4.3)
  TESTING.md
  tests/integration/test_security_integration.py
Due: none

docs: Add Phase 4 completion summary
  PHASE4_SUMMARY.md
Due: none

test: Add comprehensive auth and utility tests (Tasks 4.6-4.7)
  tests/unit/shared/auth/__init__.py
  tests/unit/shared/auth/test_jwt.py
  tests/unit/shared/auth/test_password.py
  tests/unit/shared/utils/test_response_helpers.py
Due: none

deploy: Add production deployment configurations (Tasks 5.1-5.2)
  .env.production.template
  DEPLOYMENT.md
  docker-compose.prod.yml
Due: none

config: Add staging environment configuration (Task 5.3)
  .env.staging.template
  docker-compose.staging.yml
Due: none

feat: Add comprehensive health check system with liveness/readiness probes (Task 5.4)
  docker-compose.prod.yml
  docker-compose.staging.yml
  services/api_gateway/main.py
  shared/cache/__init__.py
  shared/cache/redis_client.py
  shared/health/__init__.py
  shared/health/checks.py
Due: backend

docs: Add Phase 5 completion summary
  docs/phase5-completion.md
Due: none

feat: Add comprehensive Prometheus metrics system (Task 6.1)
  services/api_gateway/api/v1/endpoints/system.py
  services/api_gateway/main.py
  shared/middleware/__init__.py
  shared/middleware/metrics_middleware.py
  shared/monitoring/__init__.py
  shared/monitoring/metrics.py
Due: backend
